<div class="container-realistic">
  <h1>Realistic Challenge</h1>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="thumbnail col-md-4 col-xs-12">
                <%= image_tag('loading.gif') %>
              </div>
              <div class="col-md-8 col-xs-12">
                <h3>Name that MP!</h3>
                <div class="form-group">
                  <label for="mpName">MP Name</label>
                  <div class="row">
                    <div class="col-xs-6">
                      <input type="" class="form-control" id="mpName" placeholder="Name">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="btn-group">
                      <button class="btn btn-default btn-primary" type="submit">CPC</button>
                      <button class="btn btn-default btn-danger" type="submit">LIB</button>
                      <button class="btn btn-default btn-warning" type="submit">NDP</button>
                      <button class="btn btn-default btn-info" type="submit">IND</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col align-self-end">
        <div class="panel-footer">
          <button class="btn btn-default" type="submit">Skip</button>
          <%# <button class="btn btn-default btn-success" type="submit">Submit</button> %>
        </div>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
          <span class="sr-only">60% Complete</span>
        </div>
      </div>
    </div>
  </div>
</div>