<%# <h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p> %>

<div class="home-container">
  <div class="jumbotron">
    <h1>Welcome to Hocq2!</h1>
    <p>Realistic challenge is still work in progress, but feel free to try the legacy quiz.</p>
    <p><a class="btn btn-primary btn-lg" href="/legacy" role="button">Play legacy</a></p>
  </div>
</div>
