<div class="home-container">
  <div class="jumbotron">
    <h1>Welcome to Hocq2,</h1>
    <p>This is the second iteration of the House of Commons Quiz (Hocq)! Here you can play the <a href="/legacy" target="">first version</a> of the quiz game, or try out the new and improved quiz!</p>
    <p><a class="btn btn-primary btn-lg" href="<%= realistic_url %>" role="button">Play the new version</a></p>
  </div>
</div>
