$background-color: white;
$content-background-color: white; /*#A7CAB1;*/
$header-background-color: #333333;
$header-text-color: white;
$header-text-size: 18px;
$header-height: 30px;
$topbar-height: 120px;
$topbar-color: #88B7B5;
$topbar-border-color: gray;
$topbar-border-width: 1px;
$menu-bar-margin: 8px;
$menu-bar-component-width: 16.33%;
$menu-button-color-regular: #847996;
$menu-button-color-hover: #E6E6E6; /* #F6F6F6 */
$menu-button-text-color-hover: green;
$menu-button-text-color: gray;
$menu-button-font-size: 18px;

$score-font-size: 20px;
$score-font-color: #666666;
$mp-name-font-size: 18px;
$party-font-size: 16px;
$party-button-background-color: #427a26;
$skip-button-background-color: #666666;

$footer-background-color: #333333;
$footer-text-color: #BBBBBB;
$footer-text-size: 14px;
$footer-height: 30px;

.legacy_quiz_body{
  background-color: $background-color;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
}

#mp_image {
  background: url(image-path("loading.gif")) no-repeat;
  background-position: center; 
}

.legacy_quiz_form {
  margin-bottom: 0;
  width: 100%;
  text-align: center;
}

#wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $content-background-color;
  width: 100%;
  height: 100%;
  text-align: center;
}

#header{
  height: $header-height;
  width: 100%;
  text-align: left;
  background-color: $header-background-color;
  margin: 0px;
  padding: 0px;
  color: $header-text-color;
  font-size: $header-text-size;
}

#header > p{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  
  margin: 0px 40px 0px 40px;
}

#top_bar{
  width: 100%;
  height: $topbar-height;
  border-bottom: solid $topbar-border-width $topbar-border-color;
}

#top_back > img{
  margin: 0px 60px 0px 60px;
}

#logo{
  display: inline-block;
  float: left;
  margin: $menu-bar-margin;
  width: $menu-bar-component-width;
}

.legacy_quiz_menu_button{
  display: inline-block !important;
  float: left;
  margin: $menu-bar-margin;
  width: $menu-bar-component-width;
  height: 50%;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.75s, color 0.75s;
  
  position: relative;
  top: 50%;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  
  color: $menu-button-text-color;
  font-size: $menu-button-font-size;
  font-family: Tahoma, Arial, sans-serif;
}
.legacy_quiz_menu_button > div{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  transform: translateY(-20%);
}

.legacy_quiz_menu_button:hover{
  background-color: $menu-button-color-hover;
  color: $menu-button-text-color-hover;
}

#game_screen{
  width: 800px;
  height: 100vh;
  text-align: center;
  padding: 20px;
  display: inline-block;
}

#mp_image_container{
  width: 201px;
  height: 325px;
  display: inline-block;
}

#score_container{
  width: 100%;
  text-align: center;
}

.legacy_quiz_score_element{
  font-family: Helvetica, Arial, sans-serif;
  font-size: $score-font-size;
  color: $score-font-color;
  display: inline-block;
  margin: 20px 40px 10px 40px;
}

::-webkit-input-placeholder {
  /* Chrome */
  opacity: 0.8;
}
:-ms-input-placeholder {
  /* IE 10+ */
  opacity: 0.8;
}
::-moz-placeholder {
  /* Firefox 19+ */
  opacity: 0.8;
}
:-moz-placeholder {
  /* Firefox 4 - 18 */
  opacity: 0.8;
}

#mp_name{
  border-radius: 5px;
  width: 61.5%;
  border: none;
  font-size: $mp-name-font-size;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: left;
  padding: 15px;
  border: solid 1px $party-button-background-color;
}

.legacy_quiz_submit_input{
  border-radius: 5px;
  width: 15%;
  border: none;
  color: white;
  background-color: $party-button-background-color;
  font-size: $party-font-size;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 15px;
  margin: 5px 0px 0px 0px;
  cursor: pointer;
}

#skip_button{
  width: 61.5%;
  padding: 15px;
  background-color: $skip-button-background-color;
}

#footer{
  height: $footer-height;
  width: 100%;
  text-align: center;
  background-color: $footer-background-color;
  margin: 0px;
  padding: 0px;
  color: $footer-text-color;
  font-size: $footer-text-size;
}

#footer  p{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(25%);
  -ms-transform: translateY(25%);
  transform: translateY(25%);
  
  margin: 0px 0px 0px 0px;
}