// Place all the styles related to the Quiz controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.right {
  margin-left: auto;
}

.quiz-image {
  width: 100%;
}

.quiz-image-container {
  height: 325px;
  overflow: hidden;
  background: url(image-path("loading.gif")) no-repeat;
  background-position: center;
}

.thumbnail {
  max-width: 265px;
}
